@model SaferMS.Models.DB.RegistroObservacion

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Registro de observación</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacionA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacionA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonasRetroalimentadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonasRetroalimentadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccionesRealizadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccionesRealizadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criticidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criticidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanAccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanAccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoSolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoSolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresupuestoRequerido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresupuestoRequerido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompromiso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCompromiso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentariosObservacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentariosObservacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAreaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAreaNavigation.NomArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAspectoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAspectoNavigation.NomAspecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdComportamientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdComportamientoNavigation.NomComportamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDepartamentoNavigation.NomDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdObservacion">Editar</a> |
    <a asp-action="Index">Regresar al registro de observaciones</a>
</div>
