@model IEnumerable<SaferMS.Models.DB.Puesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Puestos</h1>

<p>
    <a asp-action="Create">Crear nuevo puesto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPuesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPuesto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPuesto">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPuesto">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPuesto">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
